h1 {
  color: red;
}
p,
li {
  color: green;
}
li {
  list-style-type: "- ";
}

/* .special {
  color: orange;
  font-weight: bold;
} */
li.special {
  color: orange;
  font-weight: bold;
}
span.special {
  color: orange;
  font-weight: bold;
}
li em {
  color: rebeccapurple;
}
h1 + p {
  font-size: 200%;
}
a:link {
  color: chartreuse;
}
a:visited {
  color: rgb(239, 6, 247);
}
a:hover {
  text-decoration: none;
}
