html {
  box-sizing: border-box;
}

*,
*::before,
*::after,
*:hover,
*:visited,
*:link,
*:first-child,
*::first-line {
  box-sizing: inherit;
}
h1 {
  color: red;
}
/* p,
li {
  color: green;
} */
li {
  list-style-type: "- ";
}

/* .special {
  color: orange;
  font-weight: bold;
} */
li.special {
  color: orange;
  font-weight: bold;
}
span.special {
  color: orange;
  font-weight: bold;
}
li em {
  color: rebeccapurple;
}
h1 + p {
  font-size: 200%;
}
a:link {
  color: chartreuse;
}
a:visited {
  color: rgb(239, 6, 247);
}
a:hover {
  text-decoration: none;
}
.outer {
  border: 5px solid black;
  border-radius: 10px;
}
.box {
  padding: 10px;
  background-color: blueviolet;
  color: white;
  width: calc(90% - 30px);
  border-radius: 5px;
}
.box2 {
  margin: 30px;
  width: 100px;
  height: 100px;
  background-color: rebeccapurple;
  transform: rotate(0.8turn);
}
/* body {
  background-color: black;
}

@media (min-width: 30em) {
  body {
    background-color: blue;
  }
} */
article p:first-child::first-line {
  font-size: 120%;
  font-weight: bold;
}
.box3::before {
  content: "This should show before the other content. ";
}
.box3::after {
  content: " ➥";
}
.box4::before {
  content: "Content in the box in my HTML page.";
  display: block;
  width: auto;
  height: fit-content;
  background-color: rebeccapurple;
  border: 1px solid black;
}

ul {
  margin-top: 0px;
  margin-bottom: 0em;
  padding-left: 20px;
  padding-right: 5px;
}
